$card-ratio: 45 / 85 !default;
$card-width: 400px !default;
$card-height: $card-width * $card-ratio !default;
$gradient4: linear-gradient(
  to right,
  rgb(35, 37, 38, 0.4),
  rgb(65, 67, 69, 0.4)
);

$gradient9: linear-gradient(
  to right,
  rgb(35, 37, 38, 0.9),
  rgb(65, 67, 69, 0.9)
);
$opacity: 0.9;
$br: 20px;
$txt-color: white !default;

.card-wrapper {
  height: $card-height;
  max-width: $card-width;
  margin: 20px auto;
  perspective: 600px;
  position: relative;
  width: 100%;
  transition: transform 1s;
  .card {
    color: $txt-color;
    height: 100%;
    width: 100%;
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(0.49, 0.23, 0.58, 0.49);
    &.flipped {
      transform: translateX(-100%) rotateY(-180deg);
    }
  }
  .card-front,
  .card-back {
    box-shadow: 0 -1px 15px 0 rgb(0 0 0 / 20%);
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: $opacity;
    border-radius: $br;
    cursor: pointer;
    height: 100%;
    width: 100%;
    .layer {
      height: 100%;
      width: 100%;
      position: relative;
      border-radius: $br;
    }
  }

  .card-front {
    .layer {
      background: $gradient4;
      backface-visibility: hidden;
    }
  }
  .card-back {
    transform: rotateY(180deg);
    .layer {
      background: $gradient9;
      text-align: center;
      padding: 10px;
    }
  }
}
