.slider-container {
  display: flex;
  overflow: hidden;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  cursor: grab;
}



// .grabbing {
//   cursor: grabbing;
// }

// .grabbing .slide img {
//   transform: scale(0.9);
// }
