@use "./styles/reset.scss";
@use "./styles/position.scss";
@use "./styles/firefly.scss";
@use "./styles/mixin.scss";

body {
  background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Fresca", sans-serif;
  // [ ] TODO why doesn't work ?
  @include mixin.hideScrollBar;
}

.page {
  padding: 25px;
}
